.dropcap {
  float: left;
  padding-right: 15px;
  font-size: 5em;
  line-height: 0.8em;
}

img{
	max-width: 100%;
	height: auto;
}

.mceTemp .wp-caption{
	max-width: 100% !important;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}