.comments-area{
	margin: auto;
	@media #{$sm}{
		max-width: 530px;
		margin: auto;
	}
	@media #{$md}{
		padding: 15px;
	}
	.comment-reply-title,
	.comments-title{
		text-align: center;
		margin: 25px auto 15px;
		font-size: 16px;
		@media #{$sm}{
			font-size: 20px;
			margin: 50px auto 15px;
		}
		@media #{$lg}{
			margin: 50px auto 25px;
		}
	}
	.w-tb{
		margin: 5px auto 0;
		width: 100%;
		&.first{
			@media #{$sm}{
				width: 98%;
			}
		}
	}
	.comment-submit-block{
		margin: 15px 0 0;
		input.submit{
			margin-top: 10px;
			-webkit-appearance: none;
		}
	}
}

ol.comment-list,
ul.comment-list {
	max-width: 100%;
	display: block;
	overflow: hidden;
	a{
		color: $link;
		&:hover{
			color: $link-active;
			text-decoration: none;
		}
	}
	padding: 0;
	list-style: none;
	li{
		display: block;
		margin-bottom: 10px;
		border: 2px solid darken($soft-white, 5%);
		padding: 15px;
		&.pingback{
			font-size: 12px;
			border: 2px solid transparent;
			padding: 0;
			margin-bottom: 10px;
			line-height: 1.6;
			pointer-events: none;
			cursor: default;
			a {
				color: $coal;
				&:hover{
					color: $black;
					text-decoration: none;
				}
			}
		}
		img.avatar{
			float: left;
			margin: 0 5px 0 0;
			display: block;
			vertical-align: top;
		}
		b.fn,
		span.says,
		.comment-metadata{
			vertical-align: top;
			display: inline-block;
			font-size: 12px;
			margin: 0;
			line-height: 1.5;
		}
		.comment-author{
			line-height: 1.4;
		}
		.comment-metadata{
			display: block;
			line-height: 1.4;
			margin-top: -3px;
		}
		.comment-meta{
			margin-bottom: 10px;
		}
		.comment-content{
			p{
				line-height: 1.5;
				font-size: 12px;
				margin-bottom: 5px;
				word-break: break-word;
				@media #{$sm}{
					font-size: 14px;
				}
			}
		}
		.comment-reply-link{
			font-size: 10px;
			text-align: right;
			display: block;
			color: $coal;
			clear: both;
			&:hover{
				color: $link-active;
				text-decoration: none;
			}
		}
	}
}

ol.comment-list,
ul.comment-list {
	.children{
		padding: 0;
		display: block;
		margin: 10px auto 0;
		> li {
			padding: 0;
			border: 0;
			article{
				padding: 10px; 
				background-color: $soft-white;
				border: 1px solid darken($soft-white, 5%);
			}
		}
	}
	.comment-awaiting-moderation{
		display: block;
		color: $red;
		font-size: 12px;
		margin-top: 5px;
	}
	.comment-edit-link{
		font-size: 12px;
		color: $red;
		&:before{
			content: '(';
		}
		&:after{
			content: ')';
		}
	}
}

.comment-respond{
	a {
		color: $link;
		&:hover{
			color: $link-active;
			text-decoration: none;
		}
	}
	small{
		> a {
			display: block;
			font-size: 12px;
			margin-top: 5px;
			color: $red;
		}
	}
}

.comment-content{
	ul, ol{
		padding: 0;
		margin: 10px auto;
		li {
			background-color: $soft-white;
		}
	}
}

.logged-in-as{
	font-size: 12px;
	text-align: center;
	@media #{$sm}{
		font-size: 14px;
	}
	a {
		&.logout-link{
			color: $red;
		}
	}
}

.no-comments{
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'pridi', sans-serif;
	color: $coal;
}

.comment-submit-button{
	display: inline-block;
	margin: 10px 0 0;
	padding: 5px 15px;
	box-sizing: content-box;
	font-size: 14px;
	&:hover{
		background-color: #94b655;
	}
}