.single {
	.container {
		max-width: 60em;
	}
}

.entry-wrapper {
	padding: 24px 16px;
	background-color: $white;
	@include shadow(1);
	@media #{$md} {
		padding: 32px;
	}
	@media #{$xlg} {
		padding: 40px;
		@include shadow(2);
	}
}

.entry-title,
.archive-title {
	font-size: 20px;
	margin: 0 0 8px;
	line-height: 1.5;
	word-wrap: break-word;
	@media #{$sm} {
		font-size: 28px;
	}
	@media #{$md} {
		font-size: 32px;
	}
	@media #{$xlg} {
		text-align: center;
	}
}

.entry-date {
	font-size: 12px;
	display: block;
	margin: 0 auto 30px;
	font-family: 'prompt', arial;
	color: $coal;
	@media #{$md} {
		font-size: 16px;
	}
	@media #{$xlg} {
		text-align: center;
		margin: 0 auto 40px;
	}
}

.archive-content {
	@media #{$sm} {
		padding: 50px 0;
	}
}

.archive-icon-empty {
	margin: 25px auto;
	display: block;
	text-align: center;
	font-size: 64px;
}

.archive-title {
	margin: 0 auto 8px;
	span {
		position: relative;
		margin-right: 5px;
		top: 3px;
	}
	&.empty {
		max-width: 90%;
		text-align: center;
	}
	@media #{$xlg} {
		max-width: 100%;
		text-align: left;
		margin-bottom: 8px;
	}
}

.archive-description {
	max-width: 80%;
	margin: 0 auto 30px;
	font-size: 12px;
	color: $coal;
	text-align: center;
	line-height: 1.6;
	@media #{$sm} {
		font-size: 14px;
	}
	@media #{$md} {
		text-align: left;
		max-width: 100%;
	}
	p {
		text-align: center;
		font-size: 12px;
		color: $coal;
		margin-bottom: 30px;
		line-height: 1.6;
		@media #{$md} {
			text-align: left;
			font-size: 14px;
		}
	}
}

.entry-content,
.comment-content {
	h1 {
		font-size: 20px;
		@media #{$sm} {
			font-size: 28px;
		}
		@media #{$md} {
			font-size: 32px;
		}
	}
	h2 {
		font-size: 18px;
		@media #{$sm} {
			font-size: 24px;
		}
		@media #{$md} {
			font-size: 30px;
		}
	}
	h3 {
		font-size: 16px;
		line-height: 1.5;
		margin: 20px auto 10px;
		@media #{$sm} {
			font-size: 20px;
		}
		@media #{$md} {
			font-size: 26px;
		}
		@media #{$lg} {
			margin: 40px auto 15px;
		}
	}
	p {
		font-size: 16px;
		line-height: 1.6;
		letter-spacing: 0.3px;
		word-wrap: break-word;
		font-family: 'droid_sans', arial;
		@media #{$sm} {
			font-size: 20px;
			line-height: 1.7;
		}
	}
	blockquote {
		padding: 20px;
		margin: 20px auto;
		background-color: darken($soft-white, 5%);
		p {
			font-weight: bold;
			font-family: 'droid_sans', arial;
			margin-bottom: 0;
		}
	}
	a {
		color: $link;
		word-break: break-word;
		&:hover {
			text-decoration: none;
			color: $link-active;
		}
	}
	img {
		max-width: 100%;
		height: auto;
		&.aligncenter {
			display: block;
			margin: auto;
		}
		&.alignleft {
			margin: 5px 15px 5px 0;
			float: left;
		}
		&.alignright {
			float: right;
			margin: 5px 0 5px 15px;
		}
	}
	figure {
		width: 100%;
		max-width: 100%;
		display: block;
		margin: 15px auto;
		padding: 0;
		&.alignleft {
			margin: 5px 15px 5px 0;
			float: left;
		}
		&.alignright {
			float: right;
			margin: 5px 0 5px 15px;
		}
		&.gallery-item {
			width: 100%;
			float: none;
			box-sizing: border-box;
			padding: 0;
			display: block;
			margin: 0 auto;
			@media screen and (min-width: 420px) {
				width: 50%;
				padding: 5px;
				float: left;
				margin: 0;
			}
			@media #{$sm} {
				width: 33.33%;
			}
			a {
				outline: 0 !important;
				display: block;
				&:hover {
					img {
						opacity: 0.8;
					}
				}
			}
			&:before,
			&:after {
				display: table;
				content: ' ';
			}
			&:after {
				clear: both;
			}
		}
	}
	figcaption {
		font-family: 'droid_sans', arial;
		border-left: 3px solid $light;
		padding: 3px 5px 3px 10px;
		font-size: 12px;
		color: $coal;
	}
	.gallery {
		clear: both;
		margin: 15px auto;
		&::after,
		&::before {
			content: ' ';
			display: table;
		}
		&::after {
			clear: both;
		}
	}
	ul,
	ol {
		padding: 0 0 0 15px;
		margin-bottom: 1rem;
		list-style-position: inside;
		li {
			font-size: 14px;
			line-height: 1.5;
			margin-bottom: 5px;
			@media #{$sm} {
				font-size: 16px;
			}
			> ul,
			ol {
				margin: 0.5rem 0;
			}
		}
	}
	table {
		tbody {
			td,
			th {
				padding: 0.25rem 0.5rem;
				border-bottom: 1px solid darken($soft-white, 5%);
				font-size: 14px;
				vertical-align: middle;
				@media #{$sm} {
					font-size: 16px;
				}
				a {
					font-size: 14px;
					@media #{$sm} {
						font-size: 16px;
					}
				}
			}
		}
	}
	iframe,
	embed {
		margin: 20px auto;
		display: block;
	}
	dl {
		font-size: 14px;
		@media #{$sm} {
			font-size: 16px;
		}
		dt {
			font-weight: bold;
			margin: 10px 0 5px;
		}
		dd {
			margin-left: 10px;
		}
	}
	address {
		font-style: normal;
		font-size: 14px;
		line-height: 1.3;
		color: $coal;
		margin-bottom: 15px;
		@media #{$md} {
			font-size: 16px;
			line-height: 1.4;
		}
	}
	code {
		padding: 2px 4px;
		background-color: #fbf9f9;
		border-radius: 2px;
		border: 1px solid darken(#fbf9f9, 5%);
		border-bottom-width: 2px;
		@media #{$md} {
			padding: 4px 6px;
		}
	}
	pre {
		background-color: $black;
		tab-size: 2;
		font-size: 14px;
		color: $white;
		padding: 10px 15px;
		border-radius: 0;
		overflow: auto;
		white-space: pre-wrap;
	}
	form {
		p {
			text-align: center;
		}
	}
	label > input[type='text'],
	label > input[type='password'],
	label > input[type='email'] {
		margin-left: 5px;
		max-width: 130px;
		@media #{$sm} {
			max-width: initial;
		}
	}
	input[type='text'],
	input[type='password'],
	input[type='email'] {
		@extend .w-tb;
	}
	input[type='submit'],
	input[type='button'] {
		@extend .w-btn;
		position: relative;
		top: 2px;
		@media #{$lg} {
			top: 4px;
		}
	}
}

.entry-meta {
	font-family: 'droid_sans', arial;
	font-size: 10px;
	line-height: 1.6;
	text-align: center;
	margin: 15px auto;
	@media #{$sm} {
		font-size: 12px;
		margin: 50px auto 10px;
	}
	.icon {
		position: relative;
		top: 1px;
	}
	.entry-categories,
	.entry-tags {
		color: $coal;
		margin: 0 5px;
		a {
			color: $coal;
			&:hover {
				color: $black;
				text-decoration: none;
			}
		}
	}
}

.format-quote .entry-content {
	p {
		font-family: 'prompt', arial;
	}
}

.entry-ads-block {
	margin: 50px auto 0;
}
