@font-face {
	font-family: 'prompt';
	src: url('fonts/prompt/prompt-light.eot');
	src: url('fonts/prompt/prompt-light.eot?#iefix') format('embedded-opentype'),
		url('fonts/prompt/prompt-light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'prompt';
	src: url('fonts/prompt/prompt-regular.eot');
	src: url('fonts/prompt/prompt-regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/prompt/prompt-regular.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'droid_sans';
	src: url('fonts/droid_sans/droidsans.eot');
	src: url('fonts/droid_sans/droidsans.eot?#iefix') format('embedded-opentype'),
		url('fonts/droid_sans/droidsans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'droid_sans';
	src: url('fonts/droid_sans/droidsans-bold.eot');
	src: url('fonts/droid_sans/droidsans-bold.eot?#iefix')
			format('embedded-opentype'),
		url('fonts/droid_sans/droidsans-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', 'Droid Sans', sans-serif;
	color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
dt,
blockquote {
	font-weight: bold;
	font-family: 'prompt', arial;
}
