footer.footer{
	padding: 25px 0;
	a{
		color: $coal;
		font-weight: bold;
		&:hover{
			text-decoration: none;
			color: $black;
		}
	}
}

.social-list{
	margin-bottom: 10px;
	li{
		display: inline-block;
		margin: 0 2px;
		@media #{$lg}{
			margin: 0 3px;
		}
		a {
			display: block;
			img{
				max-width: 28px;
				@media #{$sm}{
					max-width: 32px;
				}
				@media #{$md}{
					max-width: 28px;
				}
				@media #{$lg}{
					max-width: 32px;
				}	
				height: auto;
				opacity: 0.6;
				&:hover{
					opacity: 1;
				}
			}
		}
	}
}

.footer-text{
	margin: 5px 0;
	font-size: 10px;
	line-height: 1.6;
	font-family: 'prompt', arial;
	font-weight: bold;
	@media #{$sm}{
		font-size: 14px;
		max-width: 450px;
		line-height: 1.65;
		margin: 5px auto;
	}
	@media #{$md}{
		max-width: initial;
		font-size: 12px;
	}
	@media #{$lg}{
		font-size: 14px;
	}
}

.credit-text{
	font-family: 'prompt', arial;
	margin: 5px 0;
	font-size: 10px;
	color: $coal;
	line-height: 1.6;
	font-weight: bold;
	@media #{$sm}{
		font-size: 12px;
	}
	@media #{$md}{
		font-size: 10px;
	}
	@media #{$lg}{
		font-size: 12px;
	}
}