.header {
	padding: 50px 0 5px;
	@media #{$sm} {
		padding: 100px 0 0;
	}
}

.site-title {
	font-size: 24px;
	margin: 0 0 10px;
	text-align: center;
	@media #{$sm} {
		font-size: 20px;
		text-align: left;
	}
	@media #{$md} {
		font-size: 24px;
	}
	a {
		color: $black;
		&:hover {
			text-decoration: none;
			color: $link;
		}
	}
}

.site-tagline {
	color: $coal;
	font-size: 12px;
	margin: 0;
	letter-spacing: 0.5px;
	text-align: center;
	@media #{$sm} {
		font-size: 10px;
		text-align: left;
	}
	@media #{$md} {
		font-size: 14px;
	}
	@media #{$xlg} {
		font-size: 14px;
	}
}

.site-navigation {
	font-family: 'prompt', arial;
	position: relative;
	margin: 32px 0 0;
	@media #{$sm} {
		margin: 15px 0 0;
	}
	> ul {
		box-sizing: border-box;
		background-color: $soft-white;
		margin: 0;
		list-style: none;
		text-align: center;
		width: 100%;
		display: block;
		box-sizing: border-box;
		@media #{$sm} {
			padding: 0;
			margin: 0;
			text-align: right;
		}
		> li {
			display: inline-block;
			@media #{$sm} {
				position: relative;
				margin: 0;
			}
			&.current_page_item {
				@media #{$sm} {
					border: 1px solid $black;
					border-radius: 4px;
				}
			}
			&:last-of-type {
				> a {
					padding-right: 0;
				}
			}
			> a {
				display: block;
				padding: 5px 10px;
				font-size: 12px;
				text-transform: uppercase;
				color: $black;
				text-decoration: none;
				font-weight: bold;
				letter-spacing: 0px;
				@media #{$sm} {
					font-size: 12px;
					padding: 5px 7px;
				}
				@media #{$md} {
					font-size: 14px;
					margin: 0 2px;
					padding: 5px 10px;
				}
				@media #{$xlg} {
					padding: 5px 12px 3px;
				}
				&:hover {
					color: $black;
				}
			}
		}
	}
}

.site-navigation {
	> ul {
		> li {
			@media #{$lg} {
				&:hover {
					> ul {
						display: block;
					}
				}
			}
			> ul {
				display: none;
				clear: both;
				position: absolute;
				width: 100%;
				padding: 10px 0;
				margin: 0;
				z-index: 2;
				list-style: none;
				left: 0;
				background-color: $white;
				border: 1px solid darken($soft-white, 5%);
				box-sizing: border-box;
				@include shadow(1);
				@include transition(all 0.2s linear);
				@media #{$sm} {
					padding: 15px;
					position: absolute;
					left: 10px;
					top: 30px;
					width: auto;
					text-align: left;
				}
				@media #{$lg} {
					&:hover {
						@include shadow(2);
						@include transition(all 0.2s linear);
					}
				}
				> li {
					float: left;
					width: 50%;
					display: block;
					@media #{$sm} {
						float: none;
						width: auto;
						&:first-child {
							> a {
								padding-top: 0;
							}
						}
						&:last-child {
							> a {
								padding-bottom: 0;
							}
						}
					}
					> a {
						padding: 10px;
						color: $coal;
						white-space: normal;
						display: block;
						letter-spacing: 0.5px;
						text-transform: uppercase;
						font-size: 10px;
						font-weight: bold;
						@media #{$sm} {
							white-space: nowrap;
							font-size: 12px;
							padding: 5px 0;
						}
						@media #{$lg} {
							font-size: 12px;
							padding: 5px 5px;
						}
						&:hover {
							color: $black;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

.site-navigation {
	> ul {
		> li {
			> ul {
				> li {
					> ul {
						display: none;
					}
				}
			}
		}
	}
}