.header{
	padding: 25px 0 0;
	@media #{$lg}{
		padding: 50px 0 5px;
	}
}

.site-title{
	text-align: center;
	text-transform: uppercase;
	margin: 30px 0 10px;
	font-size: 32px;
}

.site-tagline{
	text-align: center;
	color: $coal;
	font-size: 16px;
	letter-spacing: 0.5px;
	font-family: 'mn_paethai';
	text-transform: uppercase;
	margin: 15px auto 25px;
	@media #{$lg}{	
		margin: 15px auto 50px;
	}
}

.site-navigation{
	font-family: 'mn_paethai';
	position: relative;
	> ul {
		padding: 5px 20px;
		box-sizing: border-box;
		background-color: $soft-white;
		margin: 0;
		list-style: none;
		text-align: center;
		width: 100%;
		display: block;
		@media #{$sm}{
			padding: 0;
			background-color: transparent;
		}
		> li {
			float: left;
			width: 50%;
			@media #{$sm}{
				position: relative;
				float: none;
				width: auto;
				display: inline-block;
				margin: 0;
			}
			> a {
				display: block;
				padding: 10px;
				font-size: 12px;
				text-transform: uppercase;
				color: $coal;
				text-decoration: none;
				letter-spacing: 0px;
				@media #{$sm}{
					font-size: 14px;
					padding: 5px 10px;
				}
				@media #{$lg}{
					padding: 5px 15px;
					font-size: 16px;
				}
				&:hover{
					color: $black;
				}
			}
		}
	}
}

.site-navigation {
	> ul{
		> li{
			@media #{$lg}{
				&:hover{
					> ul {
						display: block;
					}
				}
			}
			> ul{
				display: none;
				clear: both;
				position: absolute;
				width: 100%;
				padding: 10px 0;
				margin: 0;
				z-index: 2;
				list-style: none;
				left: 0;
				background-color: darken($soft-white, 5%);
				box-sizing: border-box;
				@include shadow(1);
				@include transition(all .2s linear);

				@media #{$sm}{
					padding: 15px;
					position: absolute;
					left: 10px;
					top: 30px;
					width: auto;
					text-align: left;
				}

				@media #{$lg}{
					&:hover{
						@include shadow(2);
						@include transition(all .2s linear);
					}
				}

				> li{
					float: left;
					width: 50%;
					display: block;
					@media #{$sm}{
						float: none;
						width: auto;
						&:first-child{
							> a{
								padding-top: 0;
							}
						}
						&:last-child{
							> a{
								padding-bottom: 0;
							}
						}
					}
					> a{
						padding: 10px;
						color: $coal;
						white-space: nowrap;
						display: block;
						letter-spacing: 0.5px;
						text-transform: uppercase;
						font-size: 10px;
						@media #{$sm}{
							font-size: 12px;
							padding: 5px 0;
						}
						@media #{$lg}{
							font-size: 12px;
							padding: 5px 5px;
						}
						&:hover{
							color: $black;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

.site-navigation {
	> ul{
		> li{
			> ul{
				>li{
					> ul{
						display: none;
					}
				}
			}
		}
	}
}