.mxn2{
	margin-left: 0;
	margin-right: 0;
}

body{
	&.single{
		main.main{
			padding: 60px 0 60px;
		}
	}
	&.error404{
		main.main {
			padding: 60px 0 40px;
			@media #{$sm}{
				padding: 100px 0;
			}
		}
	}
}