.mxn2{
	margin-left: 0;
	margin-right: 0;
}

body{
	&.single{
		main.main{
			padding: 40px 0 20px;
		}
	}
	&.error404{
		main.main {
			padding: 40px 0 20px;
			@media #{$sm}{
				padding: 100px 0;
			}
		}
	}
}