body.single-format-quote{
	.entry-title{
		font-size: 14px;
		@media #{$sm}{
			font-size: 20px;
			margin-bottom: 0;
		}
		@media #{$md}{
			margin: 30px auto;
		}
	}
	.entry-content{
		text-align: center;
		p{
			font-size: 24px;
			line-height: 1.6;
			color: $coal;
			@media #{$sm}{
				max-width: 500px;
				margin: auto;
				font-size: 32px;
			}
			@media #{$md}{
				font-size: 36px;
				line-height: 1.65;
			}
			@media #{$lg}{
				max-width: 720px;
			}
		}
		blockquote{
			background-color: transparent;
		}
	}
}

body.single-format-gallery{
	.entry-content{
		figure.gallery-item{
			float: left;
			width: 50%;
			margin: 0px auto;
			@media #{$sm}{
				width: 25%;
			}
			@media #{$md}{
				width: 20%;
			}
			@media #{$lg}{
				width: 12.5%;
			}
			img{
				margin: 1px auto;
				display: block;
				@media #{$sm}{
					margin: 3px auto;
				}
				@media #{$md}{
					margin: 2px auto;
				}
				@media #{$lg}{
					margin: 0 auto;
					padding: 2px;
					box-sizing: border-box;
				}
			}
		}
		figcaption{
			display: none;
		}
	}
}