.search-bar {
	margin: 10px auto 0;
	display: inline-block;
	position: relative;
	top: -2px;
	display: none;
	@media #{$md} {
		margin: 0 auto;
	}
	.search-field {
		@media #{$md} {
			width: 150px;
		}
	}
	.close-search {
		position: absolute;
		top: 5px;
		right: 60px;
		@media #{$lg} {
			top: 7px;
			right: 65px;
		}
		&:hover {
			text-decoration: none;
		}
		span {
			color: $light;
			&:hover {
				color: $coal;
			}
		}
	}
}
