$black: #333333;
$white: #FFFFFF;
$soft-white: #f8f8f8;
$coal: #787878;
$light: #cccccc;
$link: #4F86C6;
$link-active: darken(#4F86C6, 15%);
$red: #e85a71;

/**
 * MEDIA QUERIES
 */

$sm: 'screen and (min-width: 40em)';
$md: 'screen and (min-width: 52em)';
$lg: 'screen and (min-width: 64em)';
$xlg: 'screen and (min-width: 75em)';