$black: #333333;
$white: #ffffff;
$soft-white: #f5f5f5;
$coal: #787878;
$light: #cccccc;
$link: #4f86c6;
$link-active: darken(#4f86c6, 15%);
$red: #e85a71;

/**
 * MEDIA QUERIES
 */

$sm: 'screen and (min-width: 40em)';
$md: 'screen and (min-width: 52em)';
$lg: 'screen and (min-width: 64em)';
$xlg: 'screen and (min-width: 75em)';
